@import "~taro-ui-vue3/dist/style/index.scss"; // 引入组件样式，仅需引入一次即可
taro-text-core{
    white-space: unset!important;
}
taro-button-core[plain][type=primary]{
    color: #6190E8!important;
    border: 1px solid #6190E8!important;
}
#container{
    taro-button-core[type=primary] {
        color: #ffffff!important;
        background-color: #6190E8!important;
    }
}